---
pagination:
  data: cats
  size: 1
  alias: profile
  addAllPagesToCollections: true
eleventyComputed:
  photoAlt: "{{ profile.techcat.photo.alt}}"
  photoHeight: "{{ profile.techcat.photo.height}}"
  photoSrc: "{{ profile.techcat.photo.src}}"
  photoWidth: "{{ profile.techcat.photo.width}}"
  techcatName: "{{ profile.techcat.name }}"
  techcatBio: "{{ profile.techcat.bio }}"
  inMemoriam: "{{ profile.techcat.in_memoriam }}"
  caretakerName: "{{ profile.caretaker.name }}"
  caretakerWebsite: "{{ profile.caretaker.urls.website }}"
  caretakerSocial: "{{ profile.caretaker.urls.social }}"
  caretakerGitHub: "{{ profile.caretaker.urls.github }}"
permalink: "profile/{{profile.id }}/{{ profile.techcat.name | slugify }}/index.html"
layout: "layout.njk"
tags: techcats
---

<div class="techcats-profile-wrapper">
  <div class="techcats-profile-actions-bar">
    <a class="techcats-profile-actions-bar-link" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="-0.5 -0.5 16 16">
        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" d="M8.75 4.375 5.625 7.5l3.125 3.125" />
      </svg>
      <span>Back to all TechCats</span>
    </a>
    {% include "./_includes/components/add-techcat.njk" %}
  </div>
  <div class="techcats-profile-container">
    <div class="techcat-profile-image">
      <img class="techcats-photo {{ 'in-memoriam' if inMemoriam }}" src="{{ photoSrc }}" height="{{ photoHeight }}"
        width="photoWidth" alt="{{ photoAlt }}">
    </div>
    <div class="primary-content-container">
      <section aria-labelledby="section-techcat-profile" class="techcat-profile-details">
        <h1 class="techcat-profile-name" id="section-techcat-profile">{{ techcatName }}</h1>
        {% if inMemoriam %}
          <p class="in-memoriam-wrapper">In loving memory</p>
        {% endif %}
        <p>{{ techcatBio | safe }}</p>
      </section>
      <section aria-labelledby="section-techcat-caretaker" class="techcat-profile-caretaker">
        <hgroup id="section-techcat-caretaker">
          <h2>Caretaker</h2>
          <p class="techcat-profile-caretaker-name">{{ caretakerName }}</p>
        </hgroup>
        <ul class="reset-list techcat-profile-caretaker-links">
          {% if caretakerWebsite %}
          <li class="links-entry website">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none">
              <path fill="#30140C"
                d="M31.659.34a1.165 1.165 0 0 1 .24 1.299L18.712 31.308a1.165 1.165 0 0 1-2.137-.017l-4.758-11.11-11.112-4.76a1.165 1.165 0 0 1-.014-2.134L30.361.1a1.166 1.166 0 0 1 1.298.24Z" />
            </svg>
            <a href="{{ caretakerWebsite }}">{{ caretakerWebsite | replace("https://", "") }}</a>
          </li>
          {% endif %}
          {% if caretakerSocial %}
          <li class="links-entry social">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none">
              <path fill="#30140C"
                d="M22.805 24.39c4.3-.48 8.042-2.95 8.511-5.206.743-3.556.683-8.678.683-8.678 0-6.94-4.877-8.976-4.877-8.976C24.665.476 20.443.034 16.057 0h-.107C11.562.034 7.343.476 4.885 1.53c0 0-4.874 2.034-4.874 8.976L.006 11.83c-.008 1.28-.014 2.7.024 4.182.177 6.789 1.335 13.48 8.064 15.14 3.101.767 5.766.927 7.912.817 3.889-.2 6.073-1.294 6.073-1.294l-.128-2.634s-2.78.82-5.902.72c-3.094-.1-6.358-.312-6.859-3.856a7.51 7.51 0 0 1-.07-.992s3.038.692 6.886.856c2.353.1 4.559-.128 6.8-.378h-.002Zm3.44-4.94h-3.569v-8.16c0-1.718-.776-2.59-2.327-2.59-1.715 0-2.575 1.034-2.575 3.082v4.466h-3.55V11.78c0-2.048-.86-3.082-2.574-3.082-1.551 0-2.328.872-2.328 2.592v8.159H5.753v-8.405c0-1.717.47-3.081 1.408-4.092.973-1.01 2.245-1.528 3.825-1.528 1.826 0 3.209.656 4.124 1.966L16 8.78l.889-1.39c.915-1.31 2.297-1.966 4.126-1.966 1.578 0 2.85.518 3.82 1.528.942 1.01 1.412 2.374 1.41 4.092v8.407Z" />
            </svg>
            <a href="{{ caretakerSocial }}">{{ caretakerSocial | replace("https://", "") }}</a>
          </li>
          {% endif %}
          {% if caretakerGitHub %}
          <li class="links-entry github">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
            </svg>
            <a href="{{ caretakerGitHub }}">{{ caretakerGitHub | replace("https://", "") }}</a>
          </li>
          {% endif %}
        </ul>
      </section>
    </div>
  </div>
</div>

<style>
  .techcats-profile-wrapper {
    background-color: var(--container-background-color);
    padding-block: var(--size-48);
    padding-inline: var(--size-16);
    position: relative;
    z-index: var(--bottom-layer);
  }

  .techcats-profile-actions-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .techcats-profile-actions-bar-link {
      display: block;
      position: relative;
      outline: none;

      svg {
        inset-block: 20%;
        inset-inline-start: calc(var(--size-16) * -1);
        position: absolute;
        transition: inset-inline-start 300ms ease-in-out;
      }

      &:hover,
      &:focus {
        text-decoration: none;

        svg {
          inset-inline-start: calc(var(--size-24) * -1);
          scale: 2;
        }
      }
    }
  }

  .techcats-profile-container {
    display: grid;
    max-inline-size: var(--max-container-inline-size);
  }

  .in-memoriam-wrapper {
    background-color: var(--color-primary-highlight);
    color: var(--color-primary-brown);
    font-size: var(--typography-font-size-default);
    margin-block: var(--size-8);
    padding-block: var(--size-8);
    padding-inline-start: var(--size-12);
  }

  .techcats-photo {
    block-size: auto;
    border-radius: 50%;

    &.in-memoriam {
      box-shadow: var(--box-shadow-in-memoriam);
      outline: var(--outline-in-memoriam);
    }
  }

  .techcat-profile-details p:not(".in-memoriam-wrapper"):first-of-type,
  .techcat-profile-caretaker p:first-of-type {
    margin-block-start: 0;
  }

  .techcat-profile-name {
    margin-block-start: 0;
  }

  .links-entry {
    display: flex;
    gap: var(--size-8);

    svg {
      flex: 0 0 var(--icon-size);
    }

    a {
      display: block;
      overflow: hidden;
    }
  }

  @media screen and (width < 48rem) {
    .techcats-profile-wrapper {
      --container-background-color: var(--color-primary-surface-mobile);
    }

    .techcats-profile-actions-bar {
      flex-direction: column;
      gap: var(--size-16);
    }
  }

  @media screen and (width >=48rem) {
    .techcats-profile-wrapper {
      --container-background-color: var(--color-primary-surface);
      border-radius: var(--border-radius-container);
      padding: var(--size-48);
    }
  }

  @media screen and (width >=64rem) {
    .techcats-profile-container {
      background-color: var(--color-primary-surface);
      display: flex;
      gap: var(--size-32);
    }

    .techcat-profile-image {
      flex: 1 0 28.125rem;
    }

    .techcat-profile-details {
      flex: 1 1 59.375rem;
    }
  }
</style>
