<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechCats ~ The cats of people who make websites</title>

  <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="TechCats" />
  <link rel="manifest" href="/assets/site.webmanifest" />

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="TechCats">
  <meta property="og:description" content="The cats of people who make websites.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://techcats.netlify.app/">
  <meta property="og:site_name" content="TechCats">
  <meta property="og:image" content="https://techcats.netlify.app/assets/social-share.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta name="fediverse:creator" content="@schalkneethling@hachyderm.io">

  <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/techcats.css" media="screen">

  <script defer src="https://cloud.umami.is/script.js" data-website-id="c3573360-9ead-4a81-9b5a-700bccedafb2"></script>
</head>

<body>
  <div class="page-wrapper">
    {% include "components/page-header.njk" %}

    <main>
      {{ content | safe }}
    </main>

  </div>
  {% include "components/footer.njk" %}
  <script src="/assets/js/canvas-confetti.js"></script>
</body>

</html>
